In [3]:
import pandas as pd
import os

# Задача №1

In [12]:
datadir_name = 'names'
path_to_datadir = ''.join((os.getcwd(), '\\', datadir_name, '\\'))
datadir_list = os.listdir(path=path_to_datadir)

In [13]:
years_list = [1900, 1950, 2000]

In [14]:
def count_top3(years_list):
    file_names_list = [f'yob{y}.txt' for y in years_list]
    df_by_years_list = (pd.read_csv(path_to_datadir + f, header=None, names=['Name', 'Sex', 'Quantity']) 
                    for f in datadir_list if f in file_names_list)
    names_by_years_df = pd.concat(df_by_years_list)
    res = names_by_years_df.groupby(['Name', 'Sex']).sum().sort_values(['Quantity'], ascending=False).head(3)
    return res

count_top3(years_list)

            Quantity
Name   Sex
James  M      111465
John   M      109341
Robert M      101123

# Задача №2

In [29]:
def count_dynamics(years_list):
    file_names_list = [f'yob{y}.txt' for y in years_list]
    df_by_years_list = (pd.read_csv(path_to_datadir + f, header=None, names=['Name', 'Sex', 'Quantity']).assign(Year=f[3:7]) 
                        for f in datadir_list if f in file_names_list)
    names_by_years_df = pd.concat(df_by_years_list)
    res = names_by_years_df.sort_values(['Year']).groupby(['Sex', 'Year']).sum()
    return res

count_dynamics(years_list)

          Quantity
Sex Year
F   1900    299800
    1950   1713151
    2000   1815110
M   1900    150483
    1950   1790549
    2000   1962969